body {
  margin: 0 0 10 0;
  padding: 0;
  text-align: center;

  background: rgb(36, 104, 122);
  background: linear-gradient(
    90deg,
    rgba(36, 104, 122, 1) 23%,
    rgba(16, 181, 132, 1) 100%,
    rgba(3, 4, 4, 1) 100%
  );
}

.app-title{
  margin-top: 0;
  font-family: 'Bigelow Rules', serif;
  font-size: 70px;
  color: aquamarine;
}
